@{
	ViewData["Title"] = "Index";

	var code = ViewData["DeviceCode"] as string;
	if (string.IsNullOrWhiteSpace(code))
	{
		code = "[N/A]";
	}
}

<h1>Device Code: <strong style="color:red;">@code</strong></h1>
