
@{
	ViewData["Title"] = "Index";
}

<h1><strong>@ViewData["Title"]</strong>.<strong style="color:red;">weixin</strong>.cshtml</h1>


@if (DeviceResolver.IsMicroMessenger(Context))
{
	<strong>This browser is/as a Weixin.</strong>
	<hr />
}

<div>Weixin iPhone</div>
<h3>Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Mobile/9B176 MicroMessenger/4.3.2</h3>

<div>Weixin Android</div>
<h3>Mozilla/5.0 (Linux; U; Android 2.3.6; zh-cn; GT-S5660 Build/GINGERBREAD) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1 MicroMessenger/4.5.255</h3>


